.vscode
build/
*.o
image-*.tar
mandelbrot
test_runner

# Debian packaging
debian/.debhelper/
debian/mandelbrot-renderer/
debian/mandelbrot-renderer-dbgsym/
debian/files
debian/*.substvars
debian/*.log
debian/tmp/
*.deb
*.ddeb
*.buildinfo
*.changes
